<div class="block block--dark ">
    <div class="container block-footer">
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">PRODUCTS</h2>
                <span class="icon icon--white collapsible__chevron">
                    <img src="images/chevron.svg" alt="">
                </span>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li>WordPress Hosting</li>
                    <li>Free Automated WordPress </li>
                    <li>Migrations</li>
                    <li>Domain Names</li>
                    <li>Monthly Web Hosting</li>
                </ul>
            </div>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">COMPANY</h2>
                <span class="icon icon--white collapsible__chevron">
                    <img src="images/chevron.svg" alt="">
                </span>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li>About</li>
                    <li>Affiliates</li>
                    <li>Blog</li>
                    <li>Careers</li>
                    <li>Community</li>
                    <li>News</li>
                    <li>Green Hosting</li>
                </ul>
            </div>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">SUPPORT</h2>
                <span class="icon icon--white collapsible__chevron">
                    <img src="images/chevron.svg" alt="">
                </span>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li>Contact</li>
                    <li>Knowledge Base</li>
                    <li>Forums</li>
                    <li>System Status</li>
                    <li>Web Hosting</li>
                    <li>DreamCompute</li>
                </ul>
            </div>
        </div>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">DOMAINS</h2>
                <span class="icon icon--white collapsible__chevron">
                    <img src="images/chevron.svg" alt="">
                </span>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li>Domain Checker</li>
                    <li>Domain Transfer </li>
                    <li>Free Domain</li>
                    <li>XYZ Domain</li>
                    <li>Cheap SSL Certificate</li>
                </ul>
            </div>
        </div>
        <footer class="block-footer__foot">
            <span class="block-footer__foot__logo">
                <img src="images/logo.png" alt="">
            </span>
            <p>Copyright © 2020 mosh</p>
        </footer>
    </div>
</div>